* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado {
    background: rgb(2, 205, 205);
    color: white;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: rgba(25, 39, 42, 0.925);
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgb(2, 205, 205);
}

.pie {
    text-align: center;
    height: 300px;
}

img {
    border-radius: 20px;
    box-shadow: 0 4px 10px yellow;
}

.dos {
    border-radius: 180px;
}

.expo0 {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.expo1 {
    background: rgb(2, 205, 205);
    color: white;
    text-align: center;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expo2 {
    text-align: center;
    color: white;
}
